body {
    background-color: #EAF6F6;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}

img {

    height: 300px;
}

.circular{
    border-radius: 200%;
}
.hover{
    background-color: aquamarine;
}

h1{
    color: #66bfbf;
    font-style: oblique;
}

h3{
    color: #66bfbf;
}